.merchant-dashboard-container {
  margin-top: 0px;
}
.main-dashboard-wrapper {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  .dashboard-side-bar {
    width: 250px;
  }
  .dashboard-panel {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #f3f3f3;
  }
}
