.merchant-dashboard-container {
  margin-top: 0px;
}

.main-dashboard-wrapper {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  .dashboard-side-bar {
    width: 320px;
  }

  .dashboard-panel {
    width: calc(100% - 320px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #f3f3f3;
  }
}

@media all and (max-width: 767px) {
  .dashboard-side-bar {
    width: 50px !important;
  }

  .dashboard-panel {
    width: calc(100% - 50px) !important;
  }
}