.tag-wrapper {
  height: 20px;
  background-color: rgb(156, 24, 24);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  margin: 2% 0.5% 0% 0.5%;
  padding: 0% 1%;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  .tag-icon {
    font-size: 13px;
  }
  .tag-text {
    margin-left: 5px;
    font-size: 13px;
  }
}
