.setting-head-img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.setting-head-text {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}