.order-tracking-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    .order-tracking-left-side {
        width: 60%;
        height: inherit;
    }
    .order-tracking-right-side {
        background-color: white;
        width: 40%;
        height: inherit;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        .order-status-container {
            margin-top: 90px;
            padding-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            .order-status-timing{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                border: 3.5px solid rgb(145, 0, 0);
                .or-s-main-text {
                    font-size: 26px;
                    height: 30px;
                }
                .or-s-sub-text {
                    font-size: 12px;
                }
            }
            .order-status-header {
                padding-left: 20px;
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    }
}

.order-status-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    .or-s-main-text-header {
        font-size: 28px;
        font-weight: 700;
    }
    .or-s-sub-text-header {
        font-size: 14px;
        .highlight-main-text {
            font-weight: 700;
        }
    }
}
.or-s-stepper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 2px solid #E1E1E1;
    margin-top: 20px;
    .or-s-stepper-node-checked {
        position: relative;
        background-color: rgb(135, 0, 0);
        border-radius: 50px;
        color: white;
        display: flex;
        flex-direction: row;
        width: 25px;
        height:25px;
        align-items: center;
        justify-content: center;
        .or-s-stepper-node-index {
            font-size: 14px;
        }
        .or-s-stepper-node-title {
            position: absolute;
            font-size: 11px;
            top: 30px;
            color: black;
        }
    }
    .or-s-stepper-node-not-checked {
        position: relative;
        background-color: rgb(175, 175, 175);
        border-radius: 50px;
        color: white;
        display: flex;
        flex-direction: row;
        width: 25px;
        height:25px;
        align-items: center;
        justify-content: center;
        .or-s-stepper-node-index {
            font-size: 14px;
        }
        .or-s-stepper-node-title {
            position: absolute;
            font-size: 11px;
            top: 30px;
            color: black;
        }
    }
    .or-s-stepper-line-checked {
        height: 11px;
        width: 90px;
        transition: 0.5s;
        border-bottom: 3px solid rgb(135, 0, 0);;
    }
    .or-s-stepper-line-not-checked {
        height: 11px;
        width: 90px;
        transition: 0.5s;
        border-bottom: 3px solid rgb(175, 175, 175);
    }
}
