.profile-ohis-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);

    .p-ohis-header-wrapper {
        width: calc(100% - 20px);
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: auto;
    }
}

.p-ohis-body-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    gap: 5px;

    .p-ohis-item-wrapper {
        border: 2px solid rgb(242, 242, 242);
        padding: 10px 0;
        width: 100%;
        height: auto;
        max-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        background-color: rgb(250, 250, 250);

        .p-ohis-item-head {
            width: 96%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            color: rgb(140, 140, 140);
            user-select: none;
        }

        .p-ohis-item-body {
            width: 96%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            height: auto;
            padding: 5px 0;
            cursor: pointer;
        }
    }
}

.p-ohis-item-img {
    width: 220px;
    height: 120px;
}

.p-ohis-item-content {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
}

.p-ohis-item-main-text {
    font-size: 16px;
    font-weight: 700;
}

.p-ohis-item-sub-text {
    font-size: 13px;
}

.p-ohis-item-sub-text-medium {
    font-size: 14px;
}

.p-ohis-item-sub-text-large {
    font-size: 15px;
    justify-self: flex-end;
}

.p-ohis-submit-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p-ohis-grey-scale {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.p-ohis-general-profile-row {
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 5px 0;

    .p-ohis-b-gp-label {
        width: auto;
        font-size: 14px;
        margin: 2px 0;

    }

    .p-ohis-b-iu-input-general-select {
        height: 30px !important;
        width: 150px !important;
        font-size: 13px !important;
        font-family: 'Poppins', sans-serif;
        border-radius: 0px !important;
        border: 1px solid black;
        text-indent: 10px;
    }

    .p-ohis-b-iu-input-general {
        height: 25px;
        width: 150px;
        font-size: 13px;
        border-radius: 0px !important;
        border: 1px solid black;
        text-indent: 10px;
    }
}