.main-nav-menu-prefix {
  font-size: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(97, 0, 0);
  padding: 0% 2%;
  height: 50px;
  cursor: pointer;
  width: 100%;
  gap: 2px;
}

.main-nav-menu-prefix .nav-logo {
  width: 40px;
  margin-right: 2%;
}
