.main-nav-menu-prefix {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(97, 0, 0);
  padding: 0% 2%;
  height: 50px;
  cursor: pointer;
  gap: 2px;
}
.nav-category-item-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}
.nav-icon-prefix-2 {
  font-size: 20px;
  margin-left: 3%;
  margin-right: 5%;
}
.nav-menu-prefix-2 {
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding: 0% 0%;
  height: 100%;
  cursor: pointer;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.main-nav-menu-prefix .nav-logo {
  width: 20px;
  margin-right: 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 0.3% 0.4%;
}
.nav-logo-title {
  margin-left: -1.75%;
  color: rgb(255, 255, 255);
  font-family: "Patua One", cursive;
  font-size: 24px;
  margin-right: 1.5%;
}
.nav-wrapper-2 {
  font-family: "Noto Sans JP", sans-serif;
  height: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0.5rem 0%;
  z-index: 10;
  width: 7%;
  font-size: 20px !important;
}

@media all and (max-width: 780px) {
  .main-nav-menu-prefix .nav-logo,
  .nav-logo-title {
    display: none !important;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 781px) {
}
