.nav-wrapper {
  font-family: "Noto Sans JP", sans-serif;
  background: rgb(61, 0, 0);
  height: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5rem 0%;
  z-index: 10;
  width: 100%;
}

.nav-bars {
  left: 10%;
  width: 40%;
  height: auto;
}
.nav-category-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 3%;
  width: 100%;
}

.nav-menu-prefix {
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0% 0%;
  height: 100%;
  cursor: pointer;
  width: 70%;
  gap: 2px;
}

.nav-menu-surfix {
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  padding: 0% 2%;
  height: 100%;
  cursor: pointer;
  width: 40%;
  gap: 2px;
}
.nav-element {
  text-decoration: none;
  color: #d9d9d9;
}
.nav-element:hover,
.nav-element:active {
  color: #eab200;
}
.nav-icon {
  display: block;
  color: #fff;
}
/*
@media screen and (max-width: 768px) {
   .nav-icon {
        display: block;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 10px;
        cursor: pointer;
        
    }
    .nav-menu ,.nav-btn{
        display:none;
    }

}
*/
.nav-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  background-color: #eab200;
  border-radius: 20px;
  width: 10%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-align: center;
}
.nav-btn:hover {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  border-radius: 20px;
  width: 10%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  border: none;
  background-color: #c59700;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.nav-icon-prefix {
  margin-right: 5%;
}
.nav-icon-surfix {
  margin-left: 5%;
}

.display-category {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10%;
}

.nav-category-surfix {
  color: #d9d9d9;
  width: 20%;
  padding: 1% 1% 1% 1%;
  background: inherit;
}
.nav-category-surfix:hover {
  color: #c59700;
  width: 25%;
  padding: 1% 1% 1% 1%;
  background: inherit;
}

.nav-category-main {
  color: #d9d9d9;
  padding: 1% 1% 1% 1%;

  width: 25%;
  background: inherit;
}

.nav-category-main:hover {
  color: #d9d9d9;
  width: 25%;
  padding: 1% 1% 1% 1%;
  background-color: #270000e7;
}

.nav-category {
  color: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
  background: inherit;
}

.nav-category:hover {
  color: #c59700;
  width: 20%;
  background: inherit;
}
.nav-feature-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
}
.nav-feature-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3a0000;
  color: rgb(223, 223, 223);
}
.category-feature-wrapper {
  align-self: center;
  display: block;
  border: 1px rgb(0, 0, 0) solid;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.nav-category-item-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

/* Media screen query*/
/* 0 -> 780 */
@media all and (max-width: 780px) {
  .nav-wrapper,
  .nav-feature-1 {
    display: none !important;
  }
}
/* 781 -> 1366 */
@media only screen and (max-width: 1366px) and (min-width: 781px) {
  .nav-wrapper-2,
  .nav-feature-2,
  .nav-feature-1 {
    display: none !important;
  }
  .nav-menu-prefix {
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 0 2%;
    height: 100%;
    cursor: pointer;
    width: 80%;
    gap: 2px;
  }
  .nav-menu-surfix {
    width: 100%;
  }
}
/* 781 -> Fullscreen */
@media screen and (min-width: 781px) {
  .nav-category-item-mobile,
  .nav-feature-2,
  .nav-wrapper-2 {
    display: none !important;
  }
}
