.left-category-dropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  background-color: #3d0000;
  color: rgb(255, 255, 255);
  width: 320px;
  margin-top: 18px;
  height: auto;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px 0;
}

.left-category-dropdown-level-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  background-color: #3d0000;
  color: rgb(255, 255, 255);
  width: 320px;
  margin-left: 320px;
  margin-top: 18px;
  padding: 5px 0;
  height: auto;
  z-index: 11;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  height: 500px;
  overflow-y: scroll;

}

.category-name {
  text-transform: capitalize;
}

.category-level-one {
  display: flex;
  flex-direction: row;
  height: 40px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ffffff00;
  width: calc(100% - 62px);
  padding: 0 30px;


}

.category-level-two {
  display: flex;
  flex-direction: row;
  height: 40px;
  min-height: 40px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 62px);
  border: 1px solid #ffffff00;
  padding: 0 30px;

  &:hover {
    width: calc(100% - 62px);
    background-color: #300000;
    color: #c59700;
    font-weight: 700
  }
}