.cart-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  padding: 5px 0;
  gap: 10px;
}

.cart-footer-sub-text {
  font-size: 15px;
  color: rgb(200, 0, 0);
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.cart-header {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .cart-title {
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 700;
  }
}

.cart-body {
  margin-top: 20px;
  overflow-y: auto;
  height: calc(100vh - 275px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .cart-image {
    height: 120px;
  }

  .cart-image-description {
    text-align: center;
    width: 280px;
    color: rgb(155, 155, 155);
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-button:start:decrement {
    display: block;
    height: 10px;
  }

  &::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
  }

  &::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
  }
}

.cart-content-wrapper {
  position: relative;
}

.cart-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .cart-item-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 96%;
    align-items: center;

    .cart-item-quantity {
      align-self: flex-start;
      margin-top: 10px;
      width: 40px;
      font-size: 16px;
      font-weight: 700;
    }

    .cart-item-image {
      align-self: flex-start;
      width: 60px;
      height: 60px;
      object-fit: cover;
    }

    .cart-item-sub-text {
      width: 80px;
      align-self: center;
      font-size: 13px;
    }
  }
}

.cart-main-text-section {
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 180px;
  margin-left: 10px;
  cursor: pointer;

  .cart-item-main-text {
    font-size: 14px;
    font-weight: 700;
  }

  .cart-item-option-text-1 {
    font-size: 11px;
    color: rgb(50, 50, 50);
  }

  .cart-item-option-text-2 {
    font-size: 11px;
    color: rgb(155, 155, 155);
  }
}

.cart-note {
  font-size: 11px;
}

.cart-surfix-pos-wrapper {
  margin-left: 5px;
  align-self: center;
  justify-self: center;
  width: 20px;

  .cart-close-icon {
    font-size: 11px;
    padding: 2px 4px;
    border-radius: 50px;
    background-color: #6c6c6c;
    color: white;
    cursor: pointer;
  }
}