.main-nav-menu-prefix {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(97, 0, 0);
  padding: 0% 1% 0% 1%;
  height: 55px;
  gap: 2px;
}
.main-nav-prefix-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 55px;
}
.main-nav-surfix-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  height: 55px;
}
.nav-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 15%;
}
.nav-category-item-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}
.nav-icon-prefix-2 {
  font-size: 20px;
  margin-left: 8px;
  margin-right: 5px;
}
.nav-menu-prefix-2 {
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  height: 100%;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.main-nav-menu-prefix .nav-logo {
  width: 20px;
  margin-right: 4%;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 1% 5%;
}
.nav-logo-title {
  margin-left: -1.75%;
  color: rgb(255, 255, 255);
  font-family: "Patua One", cursive;
  font-size: 24px;
  margin-right: 1.5%;
}
.nav-wrapper-2 {
  font-family: "Poppins", sans-serif;
  height: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0.5rem 0%;
  z-index: 10;
  width: 7%;
  font-size: 20px !important;
}

.nav-gadget-container:hover,
.nav-cart-container:hover,
.nav-language-container:hover {
  border: 2px rgb(192, 192, 192) solid;
}

/*language-panel*/
.nav-language-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  color: #e6e6e6;
  border-radius: 5px;
  width: 10%;
  border: 2px rgba(192, 192, 192, 0) solid;
}
.nav-sub-icon {
  margin: 0% 2%;
}
.nav-language-icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: inherit;
  width: 100%;
}
.nav-language-text-wrapper,
.nav-end-gadget-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 46px;
  align-items: center;
}
.nav-language-main-text,
.nav-end-gadget-main-text {
  text-align: center;
}
.nav-icon-img {
  border-radius: 2px;
  height: 30px;
}

/*account-panel*/
.nav-gadget-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  color: #e6e6e6;
  border-radius: 5px;
  width: 180px;
  border: 2px rgba(192, 192, 192, 0) solid;
}
.nav-gadget-icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: inherit;
  width: 100%;
}
.nav-gadget-icon-wrapper .nav-icon {
  font-size: 25px;
}
.nav-gadget-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 46px;
  align-items: flex-start;
  width: 400%;
}
.nav-gadget-sub-text,
.nav-language-sub-text {
  margin-top: 11px;
  font-size: 12px;
}

.nav-cart-text {
  font-size: 13px;
}

.nav-gadget-main-text {
  font-size: 13px;
}
/*cart-panel*/
.nav-cart-container {
  cursor: pointer;
  width: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  color: #e6e6e6;
  border-radius: 5px;
  border: 2px rgba(192, 192, 192, 0) solid;
  justify-self: flex-end;
}
.nav-cart-number {
  margin-top: 7px;
  font-size: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif !important;
  align-self: center;
  border-radius: 50px;
  padding: 10% 10%;
  background-color: rgb(189, 0, 0);
  letter-spacing: 1px;
}
.nav-cart-text {
  align-self: center;
}
.nav-cart-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 46px;
  align-items: flex-start;
  width: 120%;
}

@media all and (max-width: 767px) {
  .main-nav-menu-prefix {
    width: 60%;
  }
  .main-nav-surfix-container {
    width: 40%;
  }
  .nav-cart-container {
    width: 60px;
  }
  .nav-gadget-container {
    width: 50px;
  }
  .nav-gadget-sub-text,
  .nav-logo-wrapper,
  .nav-logo-title,
  .nav-cart-text,
  .nav-language-container,
  .nav-end-gadget-main-text,
  .nav-gadget-text-wrapper {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .nav-logo-wrapper {
    width: 150px !important;
  }
  .main-nav-prefix-container {
    width: 55%;
  }
  .main-nav-surfix-container {
    width: 45%;
  }
  /* account */
  .nav-gadget-container {
    width: 180px !important;
  }
  .nav-language-container {
    align-items: center !important;
    width: 60px !important;
  }
  .nav-cart-container {
    width: 80px !important;
  }
}

//sidebar

.sidebar-container {
  z-index: 11;
  position: absolute;
  width: 80%;
  height: 2000px;
  left: 0%;
  top: 0%;
  background-color: #ffffff;
  color: rgb(10, 10, 10);

  .side-bar-close-icon {
    color: rgb(41, 41, 41);
    font-size: 30px;
    background-color: rgb(175, 175, 175);
    border-radius: 50px;
    padding: 1.5% 3%;
    float: right;
    margin: 2% 2% 0% 0%;
  }

  .side-bar-feature-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-top: 2px grey solid;
    align-items: center;
    justify-content: center;

    .category-feature-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      height: 22px;
      width: 86%;
      font-size: 17px;
      text-align: left;
      padding-top: 10px;
      margin-top: 5px;
      border-radius: 50px;

      .nav-text {
        height: 30px;
        align-self: center;
        font-size: 17px;
        padding-top: 10px;
        margin-left: 10px;
      }
      .sidebar-icon {
        color: rgb(255, 255, 255);
        font-size: 18px;
        width: 10%;
        background-color: rgb(121, 0, 20);
        border-radius: 50px;
        text-align: center;
        padding: 2% 1%;
      }
    }
  }
}
.darken-mask-mobile {
  z-index: 10;
  width: 100wv;
  height: 2000px;
  display: block;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  -ms-filter: opacity(0.8);
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
  transform: translate3d(0, 0, 0);
}

.nav-category-item-mobile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}
