.main-nav-menu-prefix {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(97, 0, 0);
  padding: 0% 1% 0% 1%;
  height: 55px;
  gap: 2px;
  width: 98%;
}
.main-nav-prefix-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 55px;
}
.main-nav-surfix-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  height: 55px;
}
.nav-logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 15%;
}
.nav-category-item-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
}
.nav-icon-prefix-2 {
  font-size: 20px;
  margin-left: 3%;
  margin-right: 5%;
}
.nav-menu-prefix-2 {
  font-size: 15px;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  height: 100%;
  cursor: pointer;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.main-nav-menu-prefix .nav-logo {
  width: 20px;
  margin-right: 4%;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 1% 5%;
}
.nav-logo-title {
  margin-left: -1.75%;
  color: rgb(255, 255, 255);
  font-family: "Patua One", cursive;
  font-size: 24px;
  margin-right: 1.5%;
}
.nav-wrapper-2 {
  font-family: "Noto Sans JP", sans-serif;
  height: 19px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0.5rem 0%;
  z-index: 10;
  width: 7%;
  font-size: 20px !important;
}

.nav-gadget-container:hover,
.nav-cart-container:hover,
.nav-language-container:hover {
  border: 2px rgb(192, 192, 192) solid;
}

/*language-panel*/
.nav-language-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  color: #e6e6e6;
  border-radius: 5px;
  width: 10%;
  border: 2px rgba(192, 192, 192, 0) solid;
}
.nav-sub-icon {
  margin: 0% 2%;
}
.nav-language-icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: inherit;
  width: 100%;
}
.nav-language-text-wrapper,
.nav-end-gadget-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 46px;
  align-items: center;
}
.nav-language-main-text,
.nav-end-gadget-main-text {
  text-align: center;
}
.nav-icon-img {
  border-radius: 2px;
  height: 30px;
}

/*account-panel*/
.nav-gadget-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  color: #e6e6e6;
  border-radius: 5px;
  width: 30%;
  border: 2px rgba(192, 192, 192, 0) solid;
}
.nav-gadget-icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: inherit;
  width: 100%;
}
.nav-gadget-icon-wrapper .nav-icon {
  font-size: 25px;
}
.nav-gadget-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 46px;
  align-items: flex-start;
  width: 400%;
}
.nav-gadget-sub-text,
.nav-language-sub-text {
  margin-top: 11px;
  font-size: 12px;
}
/*cart-panel*/
.nav-cart-container {
  cursor: pointer;
  width: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  color: #e6e6e6;
  border-radius: 5px;
  border: 2px rgba(192, 192, 192, 0) solid;
  justify-self: flex-end;
}
.nav-cart-number {
  margin-top: 7px;
  font-size: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif !important;
  align-self: center;
  border-radius: 50px;
  padding: 10% 10%;
  background-color: rgb(189, 0, 0);
  letter-spacing: 1px;
}
.nav-cart-text {
  align-self: center;
}
.nav-cart-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 46px;
  align-items: flex-start;
  width: 120%;
}

@media all and (max-width: 780px) {
  .main-nav-menu-prefix {
    padding: 0 3%;
    width: 94%;
  }
  .nav-logo-wrapper,
  .nav-logo-title {
    display: none !important;
  }
  /* cart */
  .nav-cart-container.nav-cart-number {
    position: absolute;
  }
  .nav-cart-text {
    display: none !important;
  }
  .nav-cart-container {
    width: 10%;
  }
  /* language */
  .nav-language-container {
    display: none;
  }
  /* account */
  .nav-gadget-container {
    width: 10%;
  }
  .nav-gadget-text-wrapper {
    display: none !important;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 781px) {
  .nav-logo-wrapper {
    width: 150px !important;
  }
  /* account */
  .nav-gadget-container {
    width: 220px !important;
  }
  .nav-language-container {
    width: 60px !important;
  }
  .nav-cart-container {
    width: 80px !important;
  }
}
