.pro-gen-container-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.pro-gen-body-row {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 14px;

    .pro-gen-label-input {
        width: 140px;
        font-weight: 700;

    }

    .pro-gen-radio-wrapper {
        display: flex;
        flex-direction: row;
        height: 35px;
        justify-content: flex-start;
        align-items: center;



    }
}

.md-pro-gen-head-container {
    width: 100%;
    height: auto;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;

    .md-head-image-wrapper {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        min-width: 200px;

        .md-head-image {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    }
}

.md-text-icon {
    margin-right: 5px;
    font-size: 14px;
    color: #6b6b6b;
}

.md-head-content-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;

    .md-head-main-text-large {
        font-size: 30px;
        font-weight: 700;
    }

    .md-head-main-text-medium {
        font-size: 24px;
        font-weight: 700;
    }

    .md-head-main-text-small {
        font-size: 16px;
    }

    .md-head-sub-text-large {
        font-size: 14px;
    }

    .md-head-sub-text-medium {
        font-size: 13px;
    }
}

.md-head-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #686868;
    width: 90%;
    min-width: 500px;
}