$errorColor: #aa0033;
.form-error-wrapper {
  font-size: 13px;
  .form-error-content {
    color: $errorColor;
  }
}

@media all and (max-width: 767px) {
  .form-error-wrapper {
    margin-left: 28% !important;
    font-size: 13px;
  }
}
