$formColor: #f4f4f4;
$logoColor: #aa0033;
$formTextColor: #2e2e2e;
$boxBorderRadius: 5px;

@mixin FlexCol($width, $flexWrap) {
  width: $width;
  display: flex;
  flex-wrap: $flexWrap;
  flex-direction: column;
}
@mixin FlexRow($width, $flexWrap) {
  width: $width;
  display: flex;
  flex-wrap: $flexWrap;
  flex-direction: row;
}

h2 {
  width: 70%;
  text-align: center;
  border-bottom: 2px solid rgb(160, 160, 160);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.sign-contract-form {
}
.sign-contract-form-containter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 1100px;
}
.contract-form-wrapper {
  font-family: "Nunito", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contract-form {
  background-color: rgb(247, 247, 247);
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 1000px;
  box-shadow: rgba(0, 0, 0, 0.16) -15px 3px 15px,
    rgba(0, 0, 0, 0.23) -10px 10px 15px;
  border-radius: 5px;
  .form-banner-wrapper {
    background: #f4f4f4;
    border-radius: 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    img {
      margin-top: 0.5%;
      width: 99%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }
}
.contract-header-title {
  font-family: "Noto Sans", sans-serif;
  background: rgba(146, 0, 0, 0.9);
  align-self: flex-start;
  width: 35%;
  font-size: 17px;
  color: white;
  height: 22px;
  text-align: left;
  margin-left: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-indent: 20px;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
}
.contract-header-text {
  font-size: 17px;
  align-self: flex-start;
  margin: 3% 0% 0% 8%;
  font-weight: bold;
}
.contract-header-sub-text {
  font-size: 15px;
  align-self: flex-start;
  margin: 0% 8% 0.5% 8%;
  font-weight: bold;
}
.contract-pdf-viewer {
  width: 85%;
  height: 550px;
  border-radius: 5px;
  border: 1px rgb(102, 102, 102) solid;
}
.contract-agree-check {
  -webkit-appearance: none; /*hides the default checkbox*/
  height: 30px;
  width: 30px;
  top: 20px;
  left: 20px;
  transition: 0.1s;
  background-color: #ffffff;
  text-align: center;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  outline: none;
  border: 2px #464646 solid;
}

.contract-agree-check:checked {
  background-color: rgba(146, 0, 0, 0.9);
}

.contract-agree-check:before {
  content: " ";
}
.contract-agree-check:checked:before {
  font-size: 18px;
  content: "✔";
}

.contract-agree-check:hover {
  cursor: pointer;
  opacity: 0.8;
}

.contract-agree-section {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  width: 85%;
  height: 100px;
}
.contract-agree-check-wrapper {
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contract-agree-description {
  font-size: 15px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.btn-sign-contract-wrapper {
  margin: 2% 0 2% 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.btn-sign-contract-wrapper a {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-sign-contract-back {
  width: 100px;
  padding: 0% 15% 0% 15%;
  height: 40px;
  font-size: 16px;
  background: rgb(102, 102, 102);
  color: white;
  border: none;
  cursor: pointer;

  border-radius: 5px;
}

.btn-sign-contract-back:hover {
  background: rgb(122, 122, 122);
}

.btn-sign-contract-next {
  width: 100px;
  padding: 0% 15% 0% 15%;
  height: 40px;
  font-size: 16px;
  background: rgb(148, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 3%;
}

.btn-sign-contract-next:hover {
  background: rgb(175, 0, 0);
}

//responsive design
@media all and (max-width: 767px) {
  .contract-form,
  .contract-header-title {
    width: 95% !important;
  }
  .form-banner-wrapper img {
    height: 120px;
  }
  h2 {
    display: none !important;
  }
  .contract-pdf-viewer {
    margin-top: 20px;
    height: 300px;
  }
  .contract-agree-description {
    width: 85%;
    height: 280px;
  }
  .contract-agree-section {
    justify-content: space-between;
    height: 280px !important;
  }
  .btn-sign-contract-wrapper {
    width: 100%;
    gap: 150px;
  }
  .btn-sign-contract-back,
  .btn-sign-contract-next {
    width: 100px;
  }

  .sign-contract-form-containter {
    height: 1000px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .contract-form,
  .contract-header-title {
    width: 90% !important;
  }
  .btn-sign-contract-wrapper {
    width: 100%;
    gap: 200px;
  }
  .btn-sign-contract-back,
  .btn-sign-contract-next {
    width: 100px;
  }
}
