.p-d-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 160px;

  .p-d-header-img {
    display: block;
    object-fit: cover;
    width: inherit;
    height: inherit;
  }
}

.p-d-provider-interaction-wrapper {
  width: 420px;
  height: 300px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;

  .p-d-icon-for-liking {
    margin: 15px 15px 0 0px;
    color: white;
    font-size: 18px;
  }
}

.p-d-header-container {
  margin: 20px 0 0 0;
  height: 300px;
  width: 92%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;

  .p-d-provider-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    img {
      width: 420px;
      height: 300px;
    }
  }

  .p-d-promotion {
    width: 30%;
    background-color: #f6f6f6;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 280px;
    gap: 8px;
    padding-top: 8px;
    border: 2px solid #e6e6e6;

    .p-d-promotion-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 320px;
      max-height: 320px;
      align-items: center;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-button:start:decrement {
        display: block;
        height: 10px;
      }

      &::-webkit-scrollbar-button:end:increment {
        display: block;
        height: 10px;
      }

      &::-webkit-scrollbar-button:vertical:increment {
        background-color: #fff;
      }

      &::-webkit-scrollbar-track-piece {
        background-color: #eee;
        -webkit-border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:vertical {
        height: 50px;
        background-color: #ccc;
        -webkit-border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:horizontal {
        width: 50px;
        background-color: #ccc;
        -webkit-border-radius: 3px;
      }

      .promotion-items-wrapper {
        user-select: none;
        border: 2px solid black;
        display: flex;
        flex-direction: row;
        width: 96%;
        height: 60px;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        border: 2px solid #f0f0f0;
        cursor: pointer;

        .promotion-icon {
          margin: 0 5px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 60px;

          svg {
            fill: rgb(239, 142, 145);
          }
        }

        .promotion-separator {}
      }

      .promotion-content-wrapper {
        border-left: 1px dashed rgb(170, 170, 170);
        padding: 0 5px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .promotion-head-text {
          font-size: 12px;
          color: #1b1b1b;
        }

        .promotion-main-text {
          font-size: 13px;
          color: #1b1b1b;
          font-weight: 700;
        }

        .promotion-sub-text {
          font-size: 11px;
        }
      }

      .promotion-tail-icon {
        color: rgb(211, 211, 211);
        font-size: 18px;
        cursor: pointer;

        &:hover {
          color: rgb(185, 185, 185);
        }
      }
    }

    .p-d-promotion-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 5px 0;
      gap: 5px;

      .p-d-promotion-search-box {
        border: 2px solid #c9c9c9;
        width: 315px;
        height: 28px;
        text-indent: 10px;
        font-size: 12px;
      }

    }
  }

  .p-d-provider-info {
    width: 60%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .p-d-sub-head-title {
      font-size: 13px;
      color: grey;
    }

    .p-d-note {
      font-size: 12px;
      font-style: italic;
      margin: 15px 0;
    }

    .p-d-title {
      font-size: 36px;
      font-weight: 700;
    }

    .p-d-sub-title-1 {
      margin: 5px 0;
      font-size: 13px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    .p-d-sub-title-2 {
      margin: 2.5px 0;
      font-size: 13px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    .p-d-icon {
      width: 20px;
      color: #000000;
    }
  }
}

.p-d-add-to-favorite {
  width: 420px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
}

/*--------------------------------------------*/

.pd-sb-cart-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 10px;

  .pd-sb-cart-info-main-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    span {
      font-size: 14px;
    }

    .pd-sb-icon {
      color: rgb(150, 0, 0);
      font-size: 18px;
    }
  }
}

.p-d-body-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;

  .pd-sb-menu-category-container {
    margin-left: 60px;
    max-height: 600px;
    height: 600px;
    width: 250px;
    min-width: 300px;
    position: -webkit-sticky;
    /* Safari & IE */
    position: sticky;
    top: 90px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .pd-sb-menu-title {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      gap: 10px;
      margin: 15px 0 0 0;

      .pd-sb-icon {
        font-size: 18px;
      }

      span {
        font-size: 18px;
        font-weight: bold;
        width: 100%;
      }
    }

    .pd-sb-menu-category {
      padding: 0px 0 0 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;

      .pd-sb-menu-item {
        color: black;
        text-transform: capitalize;
        width: 90%;
        text-indent: 25px;
        font-size: 13px;
        padding: 5px 0;

        &:hover {
          background-color: rgb(230, 230, 230);
          cursor: pointer;
          user-select: none;
        }
      }

    }
  }
}

.selected-menu {
  background-color: #f5f5f5;
  border: 2px solid rgb(230, 230, 230);
}

.pd-pl-product-list {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  .pd-pl-title {
    margin: 20px 0 10px 0;
    font-size: 18px;
    font-weight: 700;
  }

  .pd-pl-upcoming-product-group {
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 0px;
    display: grid;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .pd-pl-upcoming-product-item {
      display: flex;
      flex-direction: column;
      width: 210px;
      height: auto;
      align-items: flex-start;
      justify-content: flex-start;
      cursor: pointer;

      &:hover {
        -webkit-transition: box-shadow 0.3s ease-in-out;
        -moz-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 12%);
        margin: -8px;
        padding: 8px;
      }

      .pd-pl-up-tag-btn {
        margin-top: 125px;
        display: block;
        position: absolute;
        height: auto;
        width: 110px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        height: 25px;
        display: flex;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .pd-pl-up-main-text {
          font-weight: 700;
          margin-left: 10px;
          font-size: 12px;
        }

        .pd-pl-up-sub-text {
          margin-left: 10px;
          font-size: 9px;
        }
      }

      .pd-pl-up-img-wrapper {
        height: 150px;
        width: 100%;
        flex-shrink: 0;
        overflow: hidden;

        .pd-pl-up-product-img {
          height: inherit;
          width: inherit;
          transition: transform 0.5s ease-in-out 0s;
          transform: scale(1);
          object-fit: cover;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }




  .pd-pl-product-group-2 {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 0px;
    display: grid;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .pd-pl-product-item-2 {
      display: flex;
      flex-direction: row;
      width: 540px;
      height: 180px;
      align-items: flex-start;
      justify-content: flex-start;
      cursor: pointer;

      &:hover {
        -webkit-transition: box-shadow 0.3s ease-in-out;
        -moz-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 12%);
        margin: -8px;
        padding: 8px;
      }

      .pd-pl-text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        font-weight: 700;
      }

      .pd-pl-sub-text {
        margin: 2.5px 0;
        font-size: 13px;
        color: #5c5c5c;
      }

      .pd-pl-img-wrapper {
        height: 180px;
        width: 200px;
        flex-shrink: 0;
        overflow: hidden;

        .pd-pl-product-img {
          height: inherit;
          width: inherit;
          transition: transform 0.5s ease-in-out 0s;
          transform: scale(1);
          object-fit: cover;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .pd-pl-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 340px;
    gap: 5px;
    margin-left: 10px;
  }

  .pd-pl-quantity-btn-horizontal {
    display: flex;
    align-self: flex-end;
    height: 25px;
    margin: 10px 2.5px;
    width: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .inc-des-button-horizontal {
      font-size: 14px;
      color: #ffffff;
      padding: 9px 10px;
      background-color: black;
      border: 1px solid #f1f1f1;
      border-radius: 50px;
    }

    .inc-des-button-2-horizontal {
      font-size: 17px;
      color: #ffffff;
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: black;
      border: 1px solid #f1f1f1;
      border-radius: 50px;
    }
  }


  .pd-pl-product-group {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 0px;
    display: grid;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .pd-pl-product-item {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 250px;
      align-items: flex-start;
      justify-content: flex-start;
      cursor: pointer;

      &:hover {
        -webkit-transition: box-shadow 0.3s ease-in-out;
        -moz-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 12%);
        margin: -8px;
        padding: 8px;
      }

      .pd-pl-text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 2.5px 0;
        font-size: 14px;
      }

      .pd-pl-sub-text {
        margin: 2.5px 0;
        font-size: 13px;
        color: #5c5c5c;
      }

      .pd-pl-img-wrapper {
        height: 180px;
        width: 100%;
        flex-shrink: 0;
        overflow: hidden;

        .pd-pl-product-img {
          height: inherit;
          width: inherit;
          transition: transform 0.5s ease-in-out 0s;
          transform: scale(1);
          object-fit: cover;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.pd-pl-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;

  .pd-pl-title {
    margin: 0;
    user-select: none;
  }

  .pd-sb-icon-extent {
    font-size: 14px;
    cursor: pointer;
  }
}

.pd-pl-quantity-btn {
  display: flex;
  align-self: flex-end;
  height: 25px;
  margin: 10px 2.5px;
  width: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;

  .inc-des-button {
    font-size: 14px;
    color: #ffffff;
    padding: 9px 10px;
    background-color: black;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
  }

  .inc-des-button-2 {
    font-size: 17px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
  }
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 20px;
  height: 29px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 1440px) and (min-width: 767px) {
  .pd-pl-product-group-2 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px 0px;
    display: grid;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .pd-pl-product-item-2 {
      display: flex;
      flex-direction: row;
      width: 375px !important;
      height: 180px;
      align-items: flex-start;
      justify-content: flex-start;
      cursor: pointer;
    }
  }

  .pd-pl-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px !important;
    gap: 5px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 767px) {
  .p-d-header-container {
    overflow: hidden;
    width: 98% !important;
    height: 280px;
  }

  .pd-pl-product-list {
    width: calc(100% - 250px);
  }

  .pd-sb-menu-category-container {
    margin-left: 30px !important;
  }

  .p-d-provider-image {
    margin-left: 30px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    img {
      width: 320px !important;
      height: 250px !important;
    }
  }

  .p-d-provider-info {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .p-d-sub-head-title {
      min-width: 450px !important;
      width: 450px !important;
      font-size: 13px;
      color: grey;
    }

    .p-d-note {
      min-width: 450px !important;
      width: 450px !important;
      font-size: 12px;
      font-style: italic;
      margin: 5px 0 !important;
    }

    .p-d-title {
      min-width: 450px !important;
      width: 450px !important;
      font-size: 22px !important;
      font-weight: 700;
    }

    .p-d-sub-title-1 {
      min-width: 450px !important;
      width: 450px !important;
      margin: 0px 0 !important;
      font-size: 13px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    .p-d-sub-title-2 {
      margin: 2.5px 0;
      font-size: 13px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    .p-d-icon {
      width: 20px;
      color: #000000;
    }
  }

  .p-d-promotion {

    width: 30%;
    background-color: #f6f6f6;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 230px !important;
    gap: 8px;
    padding-top: 8px;
    border: 2px solid #e6e6e6;

    .p-d-promotion-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 320px;
      max-height: 320px;
      align-items: center;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-button:start:decrement {
        display: block;
        height: 10px;
      }

      &::-webkit-scrollbar-button:end:increment {
        display: block;
        height: 10px;
      }

      &::-webkit-scrollbar-button:vertical:increment {
        background-color: #fff;
      }

      &::-webkit-scrollbar-track-piece {
        background-color: #eee;
        -webkit-border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:vertical {
        height: 50px;
        background-color: #ccc;
        -webkit-border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb:horizontal {
        width: 50px;
        background-color: #ccc;
        -webkit-border-radius: 3px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) and (min-width: 767px) {
  .pd-pl-product-group {
    width: 100%;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 20px 0px;
    display: grid;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .pd-pl-product-item {
      display: flex;
      flex-direction: column;
      width: 200px !important;
      height: 250px !important;
      align-items: flex-start;
      justify-content: flex-start;
      cursor: pointer;

      &:hover {
        -webkit-transition: box-shadow 0.3s ease-in-out;
        -moz-transition: box-shadow 0.3s ease-in-out;
        transition: box-shadow 0.3s ease-in-out;
        box-shadow: 0px 4px 16px rgb(0 0 0 / 12%);
        margin: -8px;
        padding: 8px;
      }

      .pd-pl-text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 2.5px 0;
        font-size: 16px;
        font-weight: 700;
      }

      .pd-pl-sub-text {
        margin: 2.5px 0;
        font-size: 14px;
        color: #5c5c5c;
      }

      .pd-pl-img-wrapper {
        height: 180px;
        width: 100%;
        flex-shrink: 0;
        overflow: hidden;

        .pd-pl-product-img {
          height: inherit;
          width: inherit;
          transition: transform 0.5s ease-in-out 0s;
          transform: scale(1);
          object-fit: cover;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.customer-review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
}

.customer-review-wrapper {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  gap: 20px;
  width: 100%;

  .cr-customer-avatar {
    width: 10%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;

  }

  .cr-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5px;
    width: 90%;

    .cr-text-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      .cr-main-text-wrapper {
        font-weight: 700;
        font-size: 14px;
      }

      .cr-sub-text-wrapper {
        font-weight: 500;
        font-size: 13px;
        color: #3f3f3f;
      }
    }
  }
}

.cr-image-review {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.cr-comment {
  font-size: 15px;
}