$errorColor: #aa0033;
$errorCheckIconColor: #c74b4b;
$errorResolvedIconColor: #00683d;
$formColor: #f4f4f4;
$logoColor: #aa0033;
$formTextColor: #2e2e2e;
$boxBorderRadius: 5px;

@mixin FlexCol($width, $flexWrap) {
  width: $width;
  display: flex;
  flex-wrap: $flexWrap;
  flex-direction: column;
}

@mixin FlexRow($width, $flexWrap) {
  width: $width;
  display: flex;
  flex-wrap: $flexWrap;
  flex-direction: row;
}

.sign-up-form-input-wrapper {
  width: 100%;
}

.sign-up-email-wrapper,
.sign-up-phonenumber-wrapper,
.sign-up-fullname-wrapper,
.password-wrapper,
.password-recheck-wrapper,
.avatar-uploader-wrapper {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.sign-up-phonenumber,
.sign-up-email,
.sign-up-password,
.sign-up-password-recheck {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.fullname-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  width: 110%;
  gap: 3%;
}

.sign-up-firstname,
.sign-up-lastname {
  width: 50%;
}

.error {
  background-color: rgb(255, 239, 239);
  border: 2px $errorCheckIconColor solid;
}

.resolved {
  background-color: rgb(238, 255, 238);
  border: 2px $errorResolvedIconColor solid;
}

.sign-up-firstname.error::placeholder,
.sign-up-lastname.error::placeholder,
.sign-up-email.error::placeholder,
.sign-up-phonenumber.error::placeholder,
.sign-up-password.error::placeholder,
.sign-up-password-recheck.error::placeholder {
  color: #000000;
}

.captcha-wrapper {
  display: inline-block;
  margin-top: 6%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 2%;
  padding-left: 28%;
}

.captcha-field {
  display: inline-block;
  width: 40%;
  height: 24px;
  padding-left: 5%;
}

.form-text-field::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.form-label {
  display: block;
  font-size: 13px;
}

.label-sign-up {
  display: block;
  width: 30%;
  color: #000000;
}

textarea:focus,
input:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input {
  font-family: "Poppins", sans-serif;
}

/* Birthday */

.form-redirect-wrapper {
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 30%;
}

.redirect-login {
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  padding-top: 1%;
  max-height: 20px;
}

.btn-register {
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  padding-top: 1%;
  max-height: 20px;
  margin-left: 40%;
}

.btn-sign-up-form {
  display: block;
  background-color: #cc9d1c;
  border-radius: 20px;
  width: 35%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 35px;
  font-weight: 700;
  border: none;
  margin-bottom: 4%;
}

.btn-sign-up-form:hover {
  background-color: #d6ad3b;
  margin-bottom: 4%;
  cursor: pointer;
}

.btn-sign-up-back {
  display: block;
  background-color: #cc9d1c;
  border-radius: 20px;
  width: 35%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 30px;
  font-weight: 700;
  border: none;
  margin-bottom: 4%;
}

.btn-sign-up-back:hover {
  display: block;
  background-color: #d6ad3b;
  border-radius: 20px;
  width: 35%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 30px;
  font-weight: 700;
  border: none;
  margin-bottom: 4%;
  cursor: pointer;
}

.avatar-uploader-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4%;
}

.avatar-uploader-detail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  gap: 10px;
}

.profile-photo-small-size {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  background: #727272;
}

.sign-up-text-field-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-icon-edit,
.form-icon-delete {

  font-size: 16px;
  color: #1e1e1e;
  cursor: pointer;
  width: 20px;
}

.form-icon-map {
  font-size: 14px;
  color: #1f1f1f;
  background-color: #dddddd;
  border-radius: 50px;
  cursor: pointer;
}

.address-type-style {
  width: 150px;
}

/*Address*/
.date-of-birth-wrapper,
.address-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sign-up-birthday {
  margin-left: 2%;
  width: 100%;
  height: 30px;
}

.sign-up-address {
  width: 100%;
  height: inherit;
  height: 30px;
}

.dynamic-address-detail-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* Address field */
.address-detail-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.address-detail-sign-up {
  font-size: 14px;
  width: 23%;
  color: #2c2c2c;
  padding-left: 5%;
}

.sign-up-detail-address-input {
  width: 64%;
  height: 30px;
}

.address-input-detail-wrapper {
  margin-top: 2%;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.sign-up-detail-address {
  width: 70%;
}

/*Gender field*/
.gender-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.gender-detail-wrapper {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.gender-type-wrapper {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #2c2c2c;
  width: 33%;
}

.label-checkbox {
  font-size: 13px;
  color: #727272;
}

.gender-detail-wrapper {

  /* pretty radio */
  label>input[type="radio"] {
    display: none;
  }

  label>input[type="radio"]+*::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
  }

  label>input[type="checkbox"] {
    display: none;
  }

  label>input[type="checkbox"]+*::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;
    border-style: solid;
    border-width: 0.1rem;
  }

  label>input[type="radio"]:checked+* {
    color: rgb(196, 143, 0);
  }

  label>input[type="radio"]:checked+*::before {
    background: radial-gradient(rgb(255, 166, 0) 0%,
        rgb(255, 217, 0) 40%,
        transparent 50%,
        transparent);
    border-color: rgb(165, 121, 0);
  }

  label>input[type="checkbox"]:checked+* {
    color: #000000;
  }

  label>input[type="checkbox"]:checked+*::before {
    background: radial-gradient(rgb(194, 158, 0) 0%,
        rgb(194, 158, 0) 40%,
        transparent 50%,
        transparent);
    border-color: #727272;
  }

  /* basic layout */

  label>input[type="radio"]+* {
    display: inline-block;
    padding-left: 0rem;
    padding-right: 2rem;
  }

  label>input[type="checkbox"]+* {
    display: inline-block;
    padding-left: 0rem;
    padding-right: 2rem;
  }
}

.policy-check {
  text-align: center;
  font-size: 13px;
  color: #292929;
  margin-bottom: 1%;
  font-weight: 500;
}

.policy-link {
  color: #eab200;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
}

.policy-link:hover {
  color: #c59700;
  cursor: pointer;
}

.avatar-editor {
  display: absolute;
  z-index: 10;
}

.btn-form-wrapper {
  font-family: "Poppins", sans-serif;
  @include FlexRow(100%, nowrap);
  width: inherit;
  justify-content: center;

  .btn-sign-up-position {
    margin-left: 35%;
    margin: 0% 0%;
    width: 30%;
  }
}

.alert-icon-position-type0 {
  /*color: rgb(85, 131, 0) !important;*/
  position: absolute;
  margin-right: 43%;
  margin-top: 2.5%;
  font-size: 16px !important;
}

.alert-icon-position-type1 {
  /*color: rgb(85, 131, 0) !important;*/
  position: absolute;
  margin-right: 2%;
  margin-top: 2.5%;
  font-size: 16px !important;
}

.alert-icon-position-type2 {
  /*color: rgb(85, 131, 0) !important;*/
  position: absolute;
  margin-right: 2%;
  margin-top: 0%;
  font-size: 16px !important;
}

.alert-icon {
  font-size: 20px;
}

.detail-profile-wrapper {
  width: 100%;
}

.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  width: 96%;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Poppins", sans-serif;
}

.btn-skip-form {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  font-size: 16px;
  background-color: #c4c4c4;
  border-radius: 20px;
  width: 40%;
  color: #2c2c2c;
  height: 35px;
  font-weight: 700;
  border: none;

  cursor: pointer;
}

.btn-skip-form:hover {
  background-color: #a8a8a8;
}

.btn-size {
  width: 30%;
}

.btn-size:hover {
  width: 30% !important;
}

@media all and (max-width: 767px) {
  .label-sign-up {
    width: 40% !important;
  }

  .form-header-sub-text {
    font-size: 11px !important;
  }

  .form-header-text {
    font-size: 13px !important;
  }

  .merchant-form-label-wrapper {
    font-size: 12px !important;
  }

  .stepper-description {
    font-size: 10px !important;
    white-space: wrap;
    width: 60px !important;
  }

  .stepper-container {
    width: 99% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}