$errorColor: #aa0033;
$errorCheckIconColor: #c74b4b;
$errorResolvedIconColor: #00683d;
$formColor: #f4f4f4;
$logoColor: #aa0033;
$formTextColor: #2e2e2e;
$boxBorderRadius: 5px;

@mixin FlexCol($width, $flexWrap) {
  width: $width;
  display: flex;
  flex-wrap: $flexWrap;
  flex-direction: column;
}
@mixin FlexRow($width, $flexWrap) {
  width: $width;
  display: flex;
  flex-wrap: $flexWrap;
  flex-direction: row;
}

.verify-email-section {
  width: 100%;

  .form-title-wrapper {
    @include FlexRow("", nowrap);
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4%;
  }
  .verify-code-description {
    display: block;
    margin-bottom: 2%;
    font-size: 14px;
    font-weight: 500;
    color: #2c2c2c;
  }
}

.form-title-wrapper {
  @include FlexRow("", nowrap);
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4%;
}

.form-icon {
  font-size: 20px;
}

.form-title {
  font-size: 16px;
  font-weight: 600;
  color: #2c2c2c;
  padding-top: 1%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.resend-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 3% 0%;
}
.resend-verify-code {
  width: 68%;
}
.resend-verify-code a {
  width: 50%;
  color: #2c2c2c;
  font-size: 14px;
  text-align: center;
}
.resend-verify-code a:hover {
  cursor: pointer;
}
.btn-verify {
  margin-top: 5%;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  background-color: #eab200;
  border-radius: 20px;
  width: 30%;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 30px;
  font-weight: 700;
  border: none;
  margin-bottom: 5%;
}
.btn-verify:hover {
  background-color: #e9ba22;
  cursor: pointer;
}

.verify-code-wrapper {
  background-color: rgb(204, 204, 204);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  gap: 3%;
  margin-top: 3%;
  padding: 5%;
}

.verify-code-digit-wrapper {
  width: 100%;
  height: 100%;
}

.verify-code-digit-wrapper input:focus {
  background-color: rgb(233, 233, 233);
  padding: 1%;
  width: 98%;
  height: 95%;
  font-size: 42px;
  text-align: center;
  color: #030303;
  border: 2px #3f3f3f solid;
}

.verify-digit-box {
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  border: 0 0 0 1px solid;
  padding: 1%;
  width: 98%;
  height: 95%;
  font-size: 42px;
  text-align: center;
  color: #3b3b3b;
}
.resend-code-icon {
  color: #eab200;
  font-size: 20px;
  margin-right: 2%;
}
.change-email-icon {
  color: #333333;
  font-size: 16px;
  cursor: pointer;
}

.sub-square-button {
  margin-left: 2%;
  background-color: rgb(231, 231, 231);
  font-family: "Poppins", sans-serif !important;
  font-size: 15px;
  height: 36px;
  border-radius: 5px;
  border-color: rgb(82, 53, 0);
  cursor: pointer;
}
.sub-square-button:hover {
  background-color: rgb(223, 223, 223);
}

.btn-form-wrapper {
  font-family: "Poppins", sans-serif;
  @include FlexRow(100%, nowrap);
  width: inherit;
  justify-content: center;
  .btn-verification-position {
    margin-left: 35%;
    margin: 0% 0%;
    width: 30%;
  }
}
