.dialog-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.map-dialog-wrapper {
    width: 70%;
    height: 75%;
    background: #dddddd;
    position: relative;
    z-index: 10;
    color: black;
    
}

.map-dialog-components {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.title-map-dialog-wrapper {
    width: 96%;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgb(78, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1% 2%;
    align-items: center;
    height: 25px;
    
}

.map-api-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.map-api-section {
    width: 100%;
    background-color: red;
}
.form-icon:hover {
    cursor: pointer
}