.ot-order-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: auto;

    .ot-od-head {
        height: auto;
        max-height: 180px;
        overflow-y: scroll;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: 1px solid #d6d6d6;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-button:start:decrement {
            display: block;
            height: 10px;
        }

        &::-webkit-scrollbar-button:end:increment {
            display: block;
            height: 10px;
        }

        &::-webkit-scrollbar-button:vertical:increment {
            background-color: #fff;
        }

        &::-webkit-scrollbar-track-piece {
            background-color: #eee;
            -webkit-border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb:vertical {
            height: 50px;
            background-color: #ccc;
            -webkit-border-radius: 3px;
        }

        &::-webkit-scrollbar-thumb:horizontal {
            width: 50px;
            background-color: #ccc;
            -webkit-border-radius: 3px;
        }

        .ot-od-head-item {
            margin: 5px 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            min-height: 50px;
            height: auto;
        }
    }
}

.ot-od-item-main-text {
    width: 70%;
    font-size: 13px;
    padding-left: 10px;

    .ot-od-main {
        width: 100%;
        font-size: 14px;
    }

    .ot-od-sub {
        width: 100%;
        font-size: 14px;
    }
}

.ot-od-item-sub-text {
    width: 15%;
    text-indent: 10px;
    font-size: 13px;
}

.ot-od-item-number {
    display: flex;
    align-self: center;
    height: 25px;
    padding: 0 5px;
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ot-od-item-number-inner {
    font-size: 18px;
    color: #000000;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ot-od-item-img {
    width: 50px;
    height: 50px;
}

.ot-od-cart-note {
    font-size: 11px;
}

.ot-order-detail-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;

    .ot-order-detail-title {
        height: 30px;
        font-weight: 700;
        font-size: 18px;
        width: 100%;
        margin: 10px 0 0 0;
        color: #353535;
    }

    .close-tab-button {
        cursor: pointer;
        padding-top: 20px;
        font-size: 20px;
        color: #353535;
    }
}

.ot-od-body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    height: auto;
    max-height: 180px;
    border-bottom: 1px solid #d6d6d6;

    .ot-od-body-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 30px;
    }

}

.ot-od-body-item-right-text {
    width: 80px;
}

.ot-od-items-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 150px;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-button:start:decrement {
        display: block;
        height: 10px;
    }

    &::-webkit-scrollbar-button:end:increment {
        display: block;
        height: 10px;
    }

    &::-webkit-scrollbar-button:vertical:increment {
        background-color: #fff;
    }

    &::-webkit-scrollbar-track-piece {
        background-color: #eee;
        -webkit-border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:vertical {
        height: 50px;
        background-color: #ccc;
        -webkit-border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        width: 50px;
        background-color: #ccc;
        -webkit-border-radius: 3px;
    }

}

.ot-od-foot {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 12px;
    height: auto;
    max-height: 180px;

    .ot-od-foot-item {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 30px;
    }
}

.ot-od-minus {
    margin-left: -5px;
}





.oc-od-item-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: auto;
    margin-top: 5px;
    gap: 10px;
    cursor: pointer;

    img {
        border-radius: 5px;
        height: 40px;
        width: 40px;
    }

    .oc-od-item-main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 70%;

        .oc-od-mt-1 {
            font-size: 12px;
        }

        .oc-od-mt-2 {
            font-size: 12px;
            color: #6c6c6c;
        }
    }

    .oc-od-item-adjust-button {
        text-align: center;
        font-size: 16px;
        width: 30px;
        height: 30px;
    }

    .oc-od-item-sub-text {
        width: 100px;
        font-size: 12px;
    }
}