a {
  text-decoration: none;
}
.tool-bar-go-top-wrapper {
  position: fixed;
  left: 100%;
  margin-left: -40px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.go-top-icon-button {
  position: relative;
  display: block;
  text-align: center;
  width: 35px;
  line-height: 35px;
  font-size: 20px;
  background-color: #ffae00;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 5%;
}
.go-top-icon-button:hover {
  position: relative;
  display: block;
  text-align: center;
  width: 35px;
  line-height: 35px;
  font-size: 25px;
  background-color: #ffae00;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 5%;
}
.voucher-toolbar-container {
  position: fixed;
  left: 96%;
  margin-left: -0px;
  top: 13%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  cursor: pointer;
}
.voucher-toolbar-container img {
  width: 60px;
}
