.tutorial-section {
  margin-top: 4%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.tutorial-scroll-down {
  margin-top: 0.5%;
  font-size: 28px;
  transition: transform 0.2s;
  color: rgb(197, 197, 197);
  padding-bottom: 5%;
  cursor: pointer;
}
.tutorial-scroll-down:hover {
  color: rgb(226, 226, 226);
  transform: scale(1.1);
}
.tutorial-title {
  position: relative;
  margin-top: 0%;
  font-size: 22px;
  color: rgb(197, 197, 197);
}

.tutorial-sub-title {
  margin-top: 4%;
  font-size: 22px;
  color: rgb(197, 197, 197);
  padding-bottom: 1%;
  font-weight: 700;
}
.card-details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
  margin-bottom: 1%;
  flex-wrap: wrap;
}

.btn-guide-register-now {
  font-family: "Poppins", sans-serif;
  width: 10%;
  height: 40px;
  font-size: 16px;
  background: rgb(148, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2%;
}

.btn-guide-register-now:hover {
  background: rgb(197, 5, 5);
}

@media all and (max-width: 767px) {
  .tutorial-title {
    font-size: 16px;
    margin-bottom: 0% !important;
  }
  .tutorial-sub-title {
    margin-top: 1% !important;
    font-size: 15px;
  }
  .card-details-wrapper {
    width: 90% !important;
    gap: 10%;
  }
  .btn-guide-register-now {
    width: 40% !important;
    height: 30px;
    margin-bottom: 5%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .btn-guide-register-now {
    width: 30% !important;
    height: 40px !important;
    margin-bottom: 5%;
    font-size: 16px;
  }
}
