$font-size: 20px;

.notification-title {
    font-size: 16px;
    font-weight: 700;
    margin-left: 5px;
}

.notification-sub-title {
    font-size: 12px;
    margin-left: 5px;
    color: rgb(97, 0, 0);
    cursor: pointer;
}

.notification-status-toggle {
    display: flex;
    width: 140px;
    height: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    margin: 10px 0 0px 0;

    .notitcation-status-option-1 {
        width: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: inherit;
        background-color: rgb(235, 235, 235);
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    .notitcation-status-option-2 {
        width: 70px;
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgb(235, 235, 235);

        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
    }
}

.notification-panel {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    gap: 10px;

    .notification-read {
        background-color: rgb(150, 150, 150) !important;
    }

    .notification-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        gap: 15px;


        cursor: pointer;

        .notification-image {
            margin-left: 2%;
            width: 18%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 500px;
            background-color: rgb(148, 0, 0);
            position: relative;

            .notification-image-icon {
                font-size: 16px;
                display: inline-block;
                border-radius: 60px;
                padding: 0.5em 0.6em;
                color: white;
            }
        }

        .notification-unread {
            width: 5%;
        }

        .notification-content {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 12px;


            .notification-main-text {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                user-select: none;
            }

            .notification-sub-text {
                font-size: 12px;
            }
        }
    }
}