h2 {
  width: 70%;
  text-align: center;
  border-bottom: 2px solid rgb(160, 160, 160);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.merchant-registration-page {
  width: 100%;
}
.merchant-registration-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  background-color: rgb(190, 190, 190);
}
.merchant-registration-form-wrapper {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.merchant-registration-form {
  background-color: rgb(247, 247, 247);
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) -15px 3px 15px,
    rgba(0, 0, 0, 0.23) -10px 10px 15px;
  .form-banner-wrapper {
    background: #f4f4f4;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    img {
      width: 100%;
    }
    .merchant-registration-header-title {
      font-family: "Poppins", sans-serif;
      background: rgba(146, 0, 0, 0.9);
      align-self: flex-start;
      width: 35%;
      font-size: 17px;
      color: white;
      height: 22px;
      text-align: left;
      margin-left: 0.5%;
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      text-indent: 20px;
      clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
    }
  }
}

.merchant-registration-header-text {
  font-size: 17px;
  align-self: flex-start;
  margin: 3% 0% 0% 8%;
  font-weight: bold;
}
.merchant-registration-header-sub-text {
  font-size: 15px;
  align-self: flex-start;
  margin: 0% 8% 0.5% 8%;
  font-weight: bold;
}
.btn-merchant-registration-wrapper {
  margin: 2% 0 2% 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.btn-merchant-registration-back {
  height: 35px;
  font-size: 16px;
  background: rgb(102, 102, 102);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.btn-merchant-registration-back:hover {
  background: rgb(122, 122, 122);
}

.btn-merchant-registration-next {
  height: 35px;
  font-size: 16px;
  background: rgb(148, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}

.btn-merchant-registration-next:hover {
  background: rgb(155, 0, 0);
}

//responsive design
@media all and (max-width: 767px) {
  .merchant-registration-form {
    width: 95% !important;
  }
  .merchant-registration-header-title {
    width: 65% !important;
  }
  .merchant-form-label-wrapper {
    font-size: 14px;
  }
  .merchant-form-wrapper {
    margin-top: 2%;
    width: 85% !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .merchant-registration-form {
    width: 800px !important;
  }
  .merchant-registration-header-title {
    width: 65% !important;
  }
  .merchant-form-label-wrapper {
    font-size: 16px;
  }
  .merchant-form-wrapper {
    margin-top: 2%;
    width: 85% !important;
  }
}

.form-header-title {
  font-family: "Poppins", sans-serif;
  background: rgba(146, 0, 0, 0.9);
  width: 35%;
  font-size: 17px;
  color: white;
  height: 22px;
  text-align: left;
  margin-left: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-indent: 20px;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form-header-text {
  width: 80%;
  font-size: 15px;
  align-self: flex-start;
  margin: 3% 0% 0% 0%;
  font-weight: bold;
}
.form-header-sub-text {
  width: 80%;
  font-size: 14px;
  align-self: flex-start;
  margin: 0% 8% 0.5% 8%;
  font-weight: bold;
}
