h2 {
  width: 70%;
  text-align: center;
  border-bottom: 2px solid rgb(160, 160, 160);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.merchant-registration-page {
  width: 100%;
}
.merchant-registration-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 1100px;
  background-color: rgb(190, 190, 190);
}
.merchant-registration-form-wrapper {
  font-family: "Nunito", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.merchant-registration-form {
  margin-top: 2%;
  background-color: rgb(247, 247, 247);
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 1000px;
  border-radius: 5px;
  .form-banner-wrapper {
    background: #f4f4f4;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    img {
      width: 100%;
    }
    .merchant-registration-header-title {
      font-family: "Noto Sans", sans-serif;
      background: rgba(146, 0, 0, 0.9);
      align-self: flex-start;
      width: 35%;
      font-size: 17px;
      color: white;
      height: 22px;
      text-align: left;
      margin-left: 0.5%;
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      text-indent: 20px;
      clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
    }
  }
}

.merchant-registration-header-text {
  font-size: 17px;
  align-self: flex-start;
  margin: 3% 0% 0% 8%;
  font-weight: bold;
}
.merchant-registration-header-sub-text {
  font-size: 15px;
  align-self: flex-start;
  margin: 0% 8% 0.5% 8%;
  font-weight: bold;
}
.btn-merchant-registration-wrapper {
  margin: 2% 0 2% 0;
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-merchant-registration-wrapper a {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-merchant-registration-back {
  padding: 0% 15% 0% 15%;
  height: 40px;
  font-size: 16px;
  background: rgb(102, 102, 102);
  color: white;
  border: none;
  cursor: pointer;

  border-radius: 5px;
}

.btn-merchant-registration-back:hover {
  background: rgb(122, 122, 122);
}

.btn-merchant-registration-next {
  padding: 0% 15% 0% 15%;
  height: 40px;
  font-size: 16px;
  background: rgb(148, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 3%;
}

.btn-merchant-registration-next:hover {
  background: rgb(175, 0, 0);
}
