h2 {
  width: 70%;
  text-align: center;
  border-bottom: 2px solid rgb(160, 160, 160);
  line-height: 0.1em;
  margin: 10px 0 20px;
}
.merchant-registration-page {
  width: 100%;
}
.merchant-registration-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  background-color: rgb(226, 226, 226);
}
.merchant-registration-form-wrapper {
  background-color: rgb(241, 241, 241) !important;
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.merchant-registration-form {
  background-color: rgb(255, 255, 255);
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  margin-bottom: 50px;
  margin-top: 70px;
}

.merchant-registration-header-text {
  font-size: 17px;
  align-self: flex-start;
  margin: 3% 0% 0% 8%;
  font-weight: bold;
}
.merchant-registration-header-sub-text {
  font-size: 15px;
  align-self: flex-start;
  margin: 0% 8% 0.5% 8%;
  font-weight: bold;
}
.btn-merchant-registration-wrapper {
  margin: 2% 0 2% 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.form-banner-wrapper {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  img {
    width: 100%;
  }
  .merchant-registration-header-title {
    color: #b90009;
    font-weight: 700;
    font-family: "Poppins", sans-serif !important;
    font-size: 18px !important;
  }
}
.btn-merchant-registration-back {
  height: 35px;
  font-size: 16px;
  background: rgb(102, 102, 102);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.btn-merchant-registration-back:hover {
  background: rgb(122, 122, 122);
}

.btn-merchant-registration-next {
  height: 35px;
  font-size: 16px;
  background: rgb(148, 0, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
}

.btn-merchant-registration-next:hover {
  background: rgb(155, 0, 0);
}

.form-header-title {
  font-family: "Poppins", sans-serif;
  background: rgba(146, 0, 0, 0.9);
  width: 35%;
  font-size: 17px;
  color: white;
  height: 22px;
  text-align: left;
  margin-left: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-indent: 20px;
  clip-path: polygon(0 0, 92% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .form-header-text {
    width: 100%;
    font-size: 14px;
    align-self: flex-start;
    margin: 10px 0% 5px 0%;
  }
  .form-header-sub-text {
    width: 100%;
    font-size: 13px;
    align-self: flex-start;
  }
}

//responsive design
@media all and (max-width: 767px) {
  .merchant-registration-form {
    width: 95% !important;
  }
  .merchant-form-label-wrapper {
    font-size: 14px;
  }
  .merchant-form-wrapper {
    margin-top: 2%;
    width: 100% !important;
  }
  .header-content {
    width: 100% !important;
  }
  .form-name {
    width: 100% !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .merchant-registration-form {
    width: 650px !important;
  }
  .merchant-form-label-wrapper {
    font-size: 13px;
  }
  .merchant-form-wrapper {
    margin-top: 2%;
    width: 100% !important;
  }
  .header-content {
    width: 100% !important;
  }
  .form-name {
    width: 100% !important;
  }
}
