.step-styling {
  border-radius: 5px;
  width: 13px;
  height: 13px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  background: rgb(255, 196, 0);
  border: 1px solid rgb(255, 196, 0);
  color: rgb(7, 7, 0);
  text-align: center;
  cursor: pointer;
}

.register-step-wrapper {
  margin: 1% 0%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
  font-weight: bold;

  .active {
    background: rgb(185, 0, 9);
    border: 1px solid rgb(185, 0, 9);
    color: rgb(240, 240, 240);
    cursor: pointer;
    font-size: 13px !important;
    @extend .step-styling;
  }
  .default {
    background: #ffffff;
    border: 1px solid #727272;
    color: #b4b4b4;
    cursor: pointer;
    font-size: 13px !important;
    @extend .step-styling;
  }
  .finished {
    background: rgb(0, 145, 72);
    border: 1px solid rgb(0, 145, 72);
    color: rgb(245, 245, 245);
    cursor: pointer;
    font-size: 13px !important;
    @extend .step-styling;
  }
}
.register-step-wrapper img {
  width: 35%;
  height: 10px;
}

.step-direction {
  font-weight: 700;
  color: #d8d8d8;
}

.step-arrow {
  display: block;
  margin-left: 3%;
  margin-right: 3%;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 14%;
}
.step-detail-description {
  margin-top: 10%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

@media all and (max-width: 767px) {
  .step-detail-description {
    font-size: 14px;
    font-weight: normal !important;
  }
  .register-step-wrapper img {
    width: 5%;
    height: 10px;
  }
  .step-arrow {
    display: none;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .step-detail-description {
    font-size: 14px;
    font-weight: normal !important;
  }
  .register-step-wrapper img {
    width: 5%;
    height: 10px;
  }
}
